
#generales{
    background-color:  #50c7f3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    padding: 30px 250px;
    color: #FFF;
    font-size: 45px;
    text-align: center;
    box-shadow: 3px 3px 1px 0px #6d6d6d;
}

#generales:hover{
    background-color:  #1bb2e9;
}

#paso{
    background-color:  #dd5896;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    padding: 30px 250px;
    color: #FFF;
    font-size: 45px;
    text-align: center; 
    margin-left: 200px;
    box-shadow: 3px 3px 1px 0px #6d6d6d;
    width: 40%;
}

#paso:hover{
    background-color:  #eb4b96;
}

#sec-contenido{
    background-color: lightcyan;
    padding: 0.5em;
    margin-top: 0%;
    margin-bottom: 8px;
    height: 210px;
}

#sec-parrafo{
    justify-content: start;
    width: 50%; 
    margin-right: 300px;  
}

#img-main{
    justify-self: end;
    width: 20%;
}

#sec-titulo{
    display: flex;
    padding: 3em;
}

#txt-pie{
    font-size: 12px;
}

