.cuadro{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 50px 200px 200px;
}

#sec-contenido {
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px #373737;
    margin: 10px;
}

h3 {
    text-align: center;
}

.provincia {
    grid-column: 1/2;
    grid-row: 1/2;
}
.eleccion {
    grid-column: 2/3; 
    grid-row: 1/2;
}
.datosGenerales {
    grid-column: 3/6; 
    grid-row: 1/2;
}
.datosAgrupacion {
    grid-column: 6/7; 
    grid-row: 1/2;
    margin-left: -150px;
}
.imgBA {
    grid-column: 1/2; 
    grid-row: 2/3; 
}
.imgCBA {
    grid-column: 1/2; 
    grid-row: 3/4; 
}
img {
    width: 210px; 
    padding-left: 60px;
    margin-left: -30px;

}
.generales01 {
    grid-column: 2/3; 
    grid-row: 2/3; 
    text-align: center; 
    padding-top: 70px;
}
.generales02 {
    grid-column: 2/3; 
    grid-row: 2/3; 
    text-align: center; 
    padding-top: 90px; 
    font-size: 10px; 
    color: rgb(0, 89, 253)
}
.paso01 {
    grid-column: 2/3; 
    grid-row: 3/4; 
    text-align: center; 
    padding-top: 70px;
}
.paso02 {
    grid-column: 2/3; 
    grid-row: 3/4; 
    text-align: center; 
    padding-top: 90px; 
    font-size: 10px; 
    color: rgb(0, 89, 253);
}
.encrustadas01 { 
    text-align: center; 
    margin: 15px; 
    width: 250px; 
    height: 70px;
    border-radius: 10px;
    padding: 5px; 
    margin-left: 70px;
    margin-top: 50px; 
    background-color: #37bbed;
}

.electores02 {
    text-align: center; 
    margin: 15px; 
    width: 250px; 
    height: 70px;
    border-radius: 10px;
    padding: 5px; 
    margin-left: 10px;
    margin-top: 50px; 
    background-color: #ee3d8f;
    display: inline-block;
}
.participacion03 {
    text-align: center; 
    margin: 15px; 
    width: 250px; 
    height: 70px;
    border-radius: 10px;
    padding: 5px; 
    margin-left: 10px;
    margin-top: 50px; 
    background-color: #9283be;
    display: inline-block;
}

.datos-generales {
   display: flex;
   grid-column: 3/6; 
   grid-row: 2/3; 
}

.datos-generales01 {
    display: flex;
    grid-column: 3/6; 
    grid-row: 3/4; 
 }

.datos-agrupacion {
    grid-column: 6/7; 
    grid-row: 2/3;
    display: flex;
}

.datos-agrupacion01 {
    grid-column: 6/7; 
    grid-row: 3/4;
    display: flex;
}


.foto {
    margin-left: -240px;
    width: 70px;
}

.e {
    margin: -60px; 
    margin-left: -80px; 
    margin-top: -65px; 
    font-size: 15px;
}
.nroElectores {
    margin-right: 20px; 
    margin-top: 60px; 
    font-size: 13px;
}

.nroEncrustado {
    margin-right: 45px; 
    margin-top: 60px;
    font-size: 13px;
}

.mesaEncrustrada {
    margin: -60px; 
    margin-left: -15px; 
    font-size: 15px;
}

.PsE {
    margin-top: -20px;
    margin: -60px; 
    margin-left: 80px; 
    font-size: 15px;
    text-align: left;
}

.porcentaje {
    margin-top: 60px; 
    margin-right: 40px;
    font-size: 13px;
}

.datos-agrupacion01 {
    grid-column: 6/7; 
    grid-row: 3/4;
    display: flex;
}





.juntos {
    padding-left: 60px; 
    margin-top: 40px;
    margin-left: -150px;
}

.juntos02 {
    margin-left: 150px; 
    margin-top: 40px;
}
.union {
    margin-top: 90px; 
    margin-left: -360px; 
    padding-left: 60px;
}
.union02 {
    margin-left: 154px; 
    margin-top: 90px;
}

.avanza {
    margin-top: 150px; 
    margin-left: -350px; 
    padding-left: 60px;
}

.avanza02 {
    margin-left: 150px; 
    margin-top: 140px;
}






